<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yeebob.yibaimendian">
    <!-- xutils3.1.2 权限开启 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- xutils3.1.2 权限开启 -->

    <application
        android:name=".app.YiApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mainactivity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--首页-->
        <activity
            android:name=".mainactivity.IndexActivity"
            android:screenOrientation="landscape" />
        <!--首页-->
        <!--商城二维码页-->
        <activity
            android:name=".mainactivity.ShowShopQrcode"
            android:screenOrientation="landscape"
            android:theme="@style/Transparent" />
        <!--商城二维码页-->
        <!--商品品牌分类页面-->
        <activity
            android:name=".mainactivity.ProductsCategoryActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!--商品品牌分类页面-->
        <!--商品详情页面-->
        <activity
            android:name=".mainactivity.ProductDetailActivity"
            android:screenOrientation="landscape" />
        <!--商品详情页面-->
        <activity
            android:name=".mainactivity.ProductsListActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 锁屏轮播图 -->
        <activity
            android:name=".mainactivity.CarouselImg"
            android:screenOrientation="landscape" />
        <!-- 广告页面 -->
        <activity
            android:name=".mainactivity.Banner_WebView"
            android:screenOrientation="landscape" />
        <activity
            android:name=".mainactivity.ProductsSearchActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>
